cmake-build*/
.idea/
/out/build/x64-Debug (default)/VSInheritEnvironments.txt
/out/build/x64-Debug (default)/CMakeFiles/ShowIncludes/main.obj
/out/build/x64-Debug (default)/CMakeFiles/ShowIncludes/main.c
/out/build/x64-Debug (default)/CMakeFiles/ShowIncludes/foo.h
/out/build/x64-Debug (default)/CMakeFiles/ShowIncludes
/out/build/x64-Debug (default)/CMakeFiles/CMakeOutput.log
/out/build/x64-Debug (default)/CMakeFiles/cmake.check_cache
/out/build/x64-Debug (default)/CMakeFiles/3.18.20081302-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.obj
/out/build/x64-Debug (default)/CMakeFiles/3.18.20081302-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.exe
/out/build/x64-Debug (default)/CMakeFiles/3.18.20081302-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.cpp
/out/build/x64-Debug (default)/CMakeFiles/3.18.20081302-MSVC_2/CompilerIdCXX
/out/build/x64-Debug (default)/CMakeFiles/3.18.20081302-MSVC_2/CompilerIdC/CMakeCCompilerId.obj
/out/build/x64-Debug (default)/CMakeFiles/3.18.20081302-MSVC_2/CompilerIdC/CMakeCCompilerId.exe
/out/build/x64-Debug (default)/CMakeFiles/3.18.20081302-MSVC_2/CompilerIdC/CMakeCCompilerId.c
/out/build/x64-Debug (default)/CMakeFiles/3.18.20081302-MSVC_2/CompilerIdC
/out/build/x64-Debug (default)/CMakeFiles/3.18.20081302-MSVC_2/CMakeSystem.cmake
/out/build/x64-Debug (default)/CMakeFiles/3.18.20081302-MSVC_2/CMakeRCCompiler.cmake
/out/build/x64-Debug (default)/CMakeFiles/3.18.20081302-MSVC_2/CMakeDetermineCompilerABI_CXX.bin
/out/build/x64-Debug (default)/CMakeFiles/3.18.20081302-MSVC_2/CMakeDetermineCompilerABI_C.bin
/out/build/x64-Debug (default)/CMakeFiles/3.18.20081302-MSVC_2/CMakeCXXCompiler.cmake
/out/build/x64-Debug (default)/CMakeFiles/3.18.20081302-MSVC_2/CMakeCCompiler.cmake
/out/build/x64-Debug (default)/CMakeFiles/3.18.20081302-MSVC_2
/out/build/x64-Debug (default)/CMakeFiles
/out/build/x64-Debug (default)/CMakeCache.txt
/out/build/x64-Debug (default)/.cmake/api/v1/query/client-MicrosoftVS/query.json
/out/build/x64-Debug (default)/.cmake/api/v1/query/client-MicrosoftVS
/out/build/x64-Debug (default)
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/cmake.db
/.vs/CMake Overview
/.vs/CESI-POO2/v16/ipch/AutoPCH/c4fe7927d025856f/ITEMSERVICE.ipch
/.vs/CESI-POO2/v16/ipch/AutoPCH/c4fe7927d025856f
/.vs/CESI-POO2/v16/ipch/AutoPCH/a8dabe7a1b48cde0/STAFFSERVICE.ipch
/.vs/CESI-POO2/v16/ipch/AutoPCH/a8dabe7a1b48cde0
/.vs/CESI-POO2/v16/ipch/AutoPCH/818be40039ba9416/IHM.ipch
/.vs/CESI-POO2/v16/ipch/AutoPCH/818be40039ba9416
/.vs/CESI-POO2/v16/ipch/AutoPCH/6bf96db38a037ed6/CUSTOMERSERVICE.ipch
/.vs/CESI-POO2/v16/ipch/AutoPCH/6bf96db38a037ed6
/.vs/CESI-POO2/v16/ipch/AutoPCH/59c9cd96a9542434/STATISTIQUES.ipch
/.vs/CESI-POO2/v16/ipch/AutoPCH/59c9cd96a9542434
/.vs/CESI-POO2/v16/ipch/AutoPCH/40bd06c1f3b69e06/ORDERSERVICE.ipch
/.vs/CESI-POO2/v16/ipch/AutoPCH/40bd06c1f3b69e06
/.vs/CESI-POO2/v16/ipch/AutoPCH
/.vs/CESI-POO2/v16/Browse.VC.opendb
/.vs/CESI-POO2/v16/Browse.VC.db-wal
/.vs/CESI-POO2/v16/Browse.VC.db-shm
/.vs/CESI-POO2/v16/Browse.VC.db
/.vs/CESI-POO2/v16/.suo
/.vs/CESI-POO2/v16
/.vs
